
# Junk that could exist anywhere:
.DS_Store
*.swp
*.tmp
.*.gz

# 
.settings.xml
.settings.xml.old

# A handy place to put stuff that git should ignore:
/ignore/

# Editor junk
/.project
/.settings/

