
# Junk that could exist anywhere:
.DS_Store
*.swp
*.tmp
.*.gz

# A handy place to put stuff that git should ignore:
/ignore

# Allow local testing file to be clear of version control
/localtest.html

# Build artifacts
/built

# Editor junk
/.project
/.pydevproject
/.settings/
/.settings.xml
/.settings.xml.old
/.idea/
/.externalToolBuilders/

# Manually installed node packages should be ignored
/node_modules/
