
/* Bug 678152 calls for UX review which will fix the color names */

.gcliterm-input-node,
.gcliterm-complete-node {
  border: none;
  -moz-appearance: none;
  height: 100%;
  vertical-align: middle;
  background-color: transparent;
  font: 12px Consolas, "Lucida Console", monospace;
  /* The language of a console is not en_US or any other common language */
  /* (i.e we don't attempt to translate 'console.log(x)') */
  direction: ltr;
}

.gcliterm-input-node {
  padding-top: 2px;
  padding-bottom: 0;
  -moz-padding-start: 16px;
  -moz-padding-end: 0;
}

.gcliterm-complete-node {
  color: #FFF;
  padding-top: 4px;
  padding-bottom: 2px;
  -moz-padding-start: 21px;
  -moz-padding-end: 4px;
}

.gcliVALID {
  border-bottom: none;
}

.gcliINCOMPLETE {
  color: #DDD;
  border-bottom: 1px dotted #999;
}

.gcliERROR {
  color: #DDD;
  border-bottom: 1px dotted #F00;
}

.gcliCompl {
  color: #999;
}

.gcliterm-stack-node {
  background: url("chrome://global/skin/icons/commandline.png") 4px center no-repeat;
  width: 100%;
}

.gcliterm-hint-node {
  color: #000;
  border: 1px solid #AAA;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #FFF;
  margin-bottom: -1px;
  width: 100%;
}

.gcliterm-hint-parent {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
  width: 300px;
  padding: 10px 10px 0;
}

.gcliCmdHelpRight {
  text-align: right;
}
