
.gcliterm-hint-node {
  border-top: 1px solid #AAA;
  border-left: 1px solid #AAA;
  border-right: 1px solid #AAA;
}

.gcliterm-hint-parent {
  border-top: 1px solid #AAA;
  border-bottom: 1px solid #AAA;
}
