
/* Bug 678152 calls for UX review which will fix the color names */

.gcliterm-input-node,
.gcliterm-complete-node {
  border: none;
  -moz-appearance: none;
  height: 100%;
  vertical-align: middle;
  background-color: transparent;
}

.gcliterm-input-node {
  padding-top: 2px;
  padding-bottom: 0;
  -moz-padding-start: 16px;
  -moz-padding-end: 0;
}

.gcliterm-complete-node {
  color: #FFF;
  padding-top: 4px;
  padding-bottom: 2px;
  -moz-padding-start: 21px;
  -moz-padding-end: 4px;
}

.gcliterm-stack-node {
  background: url("chrome://global/skin/icons/commandline.png") 4px center no-repeat;
  width: 100%;
}

.gcliterm-argfetcher {
  display: -moz-box;
  -moz-box-flex: 1;
}

.gcliterm-hint-node {
  border-top: 1px solid threedshadow;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid threedshadow;
  border-right: 1px solid threedshadow;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  margin-bottom: -1px;
}

.gcliterm-hint-parent {
  width: 300px;
  padding: 10px 10px 0;
  border-top: 1px solid threedshadow;
  border-bottom: 1px solid threedshadow;
}

.gcliterm-menu {
  display: -moz-box;
  -moz-box-flex: 1;
  border-bottom-color: white;
}

.gcliterm-hint-scroll {
  overflow-y: scroll;
  border-bottom-color: threedshadow;
}

.gcliterm-hint-nospace {
  display: none;
}

.gcliterm-msg-body {
  margin-top: 0;
  margin-bottom: 3px;
  -moz-margin-start: 3px;
  -moz-margin-end: 6px;
}

/* Extract from display.css, we only want these 2 rules */

.gcli-out-shortcut {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 0 4px;
  margin: 0 4px;
  font-size: 70%;
  color: #666;
  cursor: pointer;
  vertical-align: bottom;
}

.gcli-out-shortcut:before {
  color: #66F;
  content: '\bb';
  padding: 0 2px;
}

/*
 * The language of a console is not en_US or any other common language
 * (i.e we don't attempt to translate 'console.log(x)')
 * So we fix .gcliterm-input-node/.gcliterm-complete-node elements to be ltr.
 * As a result we also want the hints to pop up on the left (above the prompt)
 */
.gcliterm-input-node,
.gcliterm-complete-node,
.gcliterm-display {
  direction: ltr;
}

/*
 * We want the stuff under .gcliterm-display to obey normal direction rules
 * so we need to swap back when the document is in rtl mode.
 * The selectors below are faster, but equivalent to:
 * .gcliterm-display > *:-moz-locale-dir(rtl) {
 *   direction: rtl;
 * }
 * In non-performance critical situations the above is preferred due to it's
 * greater resilience to refactoring
 */
.gcliterm-hint-parent:-moz-locale-dir(rtl),
.hud-output-node:-moz-locale-dir(rtl) {
  direction: rtl;
}
