
.gcliterm-hint-node {
  border-top: 1px solid #909090;
  border-left: 1px solid #909090;
  border-right: 1px solid #909090;
}

.gcliterm-hint-parent {
  border-top: 1px solid #909090;
  border-bottom: 1px solid #909090;
}
